<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./bootstrap.php"
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="MY_Model Tests">
            <directory suffix="Test.php">./core</directory>
        </testsuite>
    </testsuites>
</phpunit>